@using IntroASP.Models.ViewModels
@model BeerViewModel

<h1>Create beer</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

        </form>
    </div>
</div>